@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:opsz,wght@5..1200,300;5..1200,400;5..1200,500&display=swap');


:root{
    --primary-orange: #e79115;
    --dark-orange: #ab6c15;
    --light-black: #0f0e0e;
    --primary-white: rgb(255, 255, 255);
    --background-gray: #efecec;
    --dark-gray: #908f8f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    background-color: var(--background-gray);
}

section.spotlight-blog .container{
    background-color: var(--primary-white);
}


section.nav-bar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section.nav-bar{
    background-color: var(--primary-orange);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

ul{
    list-style: none;
}

.menu-close-btn{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    left: 1.2rem;
    display: none;
}

.menu-btn{
    cursor: pointer;
    font-size: 30px;
    z-index: 2;
}

.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 15px 0;
    font-size: 1rem;
}

.main-nav ul{
    display: flex;
}

.main-nav ul.media-credits-menu li{
    font-size: 1.4rem;
    margin-right: 0.2rem;
}

.main-nav ul.search-menu li{
    margin-left: 10px;    
}

.main-nav ul.search-menu a{
    font-weight: bold;
    letter-spacing: 2px;
}

h1.logo{
    color: white;
    font-style: italic;
    font-size: 4rem;
    font-weight: bolder;
}

.content-nav{
    width: 50%;
    margin: auto;
}

.content-nav ul{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 1.2rem;
    padding-bottom: 12px;
}

.content-nav li:hover{
    font-weight: bolder;
}

.main-small-nav{
    display: none;
}

/*Spotlight blogs*/

.spotlight-blog{
    width: 100%;
    margin-top: 2rem;
    border: none;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px;
    height: 350px;
    margin-bottom: 30px;
}

.div1{
    background-image: url(images/Blogging\ \(2\).jpg);
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 3;
}

.div2{
    background: var(--light-black); 

    display: flex;
    align-items: center;
    justify-content: space-around;

    grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
}


.spotlight-head{
    margin: 0 20px;
    font-family: 'Libre Baskerville', serif;
    color: var(--primary-white);
}


h5.t3{
    font-family: 'Montserrat', sans-serif;
}

.div3{
    background-color: var(--dark-gray);   

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
}


/*Home Cards*/

.blog-cards{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper{
    margin: 0 1.5rem;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 568px){
    .cards-wrapper{
        display: flex;
    }
    
    .card{
        margin: 10px;
        width: calc(100%/3);
    }

    .img-wrapper{
        height: 19vw;
        margin: 0 auto;
        object-fit: contain;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

}

@media screen and (max-width: 870px){

    .menu-close-btn{
        display: block;
    }

    .main-small-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        background-color: var(--fixed);
    }

    .main-small-nav ul.search-menu{
        padding-top: 15px;
        font-size: 30px;
    }

    .main-nav{
        display: none;
    }
    
    .main-nav ul.media-credits-menu{
        display: none;
    }

    .content-nav ul.contents-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(195, 193, 193);
        width: 50%;
        height: 100%;
        margin-top: 0;
        opacity: 0.9;
        transform: translateX(-500px);
        z-index: 8;
        padding-right: 20px;
    }

    .content-nav ul.contents-menu.show{
        transform: translateX(-20px);
        padding-top: 80px;
    }

    .content-nav ul.contents-menu.show li{
        padding-bottom: 10px;
        margin: 20px 0;
        border-bottom: 1px solid rgb(134, 134, 134);
    }

    .logo-wrapper{
        padding: 10px 0;
    }

}

@media screen and (max-width: 567px){

    .card:not(:first-child){
        display: none;
    }

    .card{
        margin: 0 2rem;
    }

    .img-wrapper{
        height: 60vw;
        margin: 0 auto;
        object-fit: contain;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    
}

.card-body h4.card-title{
    font-family: 'Libre Baskerville', serif;
}

.img-wrapper img{
    height: 100%;
    object-fit: cover;
}

#carouselExampleIndicators{
    margin: 1rem;
}

.carousel-indicators{
    bottom: -40px;
}

.card{
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
}

.card-body h6.publish-date{
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--dark-gray);
}

.card-body a.btn{
    border: none;
    background-color: var(--primary-orange);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    letter-spacing: 1px;
}

.card-body button.btn{
    padding: 2%;
    font-size: 13px;
    line-height: 7px;
    margin-right: 5px;
    background-color: var(--dark-gray);
    border: none;
}

.card-body a.btn:hover{
    font-size: 17px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.header h2{
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.btn-tags{
    margin-bottom: 10px;
}